	{% load staticfiles %}
	
			<div class="footer_main">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="footer_logo"><a href="#"><img src="" alt=""></a></div>
						</div>
						<div class="col-lg-9 d-flex flex-column align-items-start justify-content-end">
							<div class="footer_title">Latest Properties</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 footer_col">
							<div class="footer_about">
								<div class="footer_about_text">//write something here</div>
							</div>
						</div>
						<div class="col-lg-3 footer_col">
							<div class="footer_latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_latest_image"><img src="{%static 'MySite/images/footer_latest_1.jpg'%}" alt=""></div></div>
								<div class="footer_latest_content">
									<div class="footer_latest_location">Thika</div>
									<div class="footer_latest_name"><a href="#">Three bedroom</a></div>
									<div class="footer_latest_price">Ksh. 50 000 000</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 footer_col">
							<div class="footer_latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_latest_image"><img src="{%static 'MySite/images/footer_latest_2.jpg'%}" alt=""></div></div>
								<div class="footer_latest_content">
									<div class="footer_latest_location">Kahawa Sukari</div>
									<div class="footer_latest_name"><a href="#">One bedroom</a></div>
									<div class="footer_latest_price">Ksh. 20 000</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 footer_col">
							<div class="footer_latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_latest_image"><img src="{%static 'MySite/images/footer_latest_3.jpg'%}" alt=""></div></div>
								<div class="footer_latest_content">
									<div class="footer_latest_location">Ruiru</div>
									<div class="footer_latest_name"><a href="#">Two bedroom</a></div>
									<div class="footer_latest_price">Ksh. 25 000</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bar">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
								<div class="footer_nav">
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/about/">About us</a></li>
										<li><a href="/ListProperty/">I want to List</a></li>
										<li><a href="/contact/">Contact</a></li>
									</ul>
								</div>
								<div class="footer_phone ml-auto"><span>call us: </span>254 704 100 075</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		